
 <% provide(:title, t("title.projects")) %>

<div class="all-projects"> 
  <% @projects.each do |project| %>
    <div class="p-index">
      <div class ="p-title <%= project.title.parameterize %>" > <%= project.title %></div><hr>
        <div class="p-toggle <%= project.id %>">
          <div class="p-text hidden"><%= project.text %></div>
          <div class="p-button hidden"><%= link_to 'read article', project_path(project) %></div>
        </div>
    </div>

      <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project_path(project),method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'New project', new_project_path %>
      <% end %>
  <% end %>
</div>
<script>

<% @projects.each do |project| %>

$(".<%= project.title.parameterize %>").click(function(){
$(".<%= project.id %>").children().toggleClass('hidden')
});

$(".<%= project.id %>").mouseleave(function(){
$(this).children().addClass('hidden')
});

<%end%>

</script>
