<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<h1>Listing products</h1>
 
<table>
  <tr>
    <th><%= t ("projects.index.title") %></th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.text %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      
      <% if current_user && current_user.admin?%>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project_path(project),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'New project', new_project_path %></td>
    <% end %>
    </tr>
  <% end %>
</table>

