<% provide(:title, t("title.projects")) %>

<div class="all-projects"> 
<div class ="show-title" ><%= raw @project.title.gsub(" ", "<br>") + "."%></div>
<div class="show-body">
<%=@project.text.html_safe %>
<% @project.images.each do |i| %>

<div class="<%= i.file.filename.parameterize%> hidden"><%= image_tag (i.url)%></div>  
<div class="<%=i.file.filename.parameterize%>-frame"></div>
<%end%>
</div>
</div>

<div class="add-links">

    <div class="download">
        <p id="download"><%= t("add-links.download")%></p><%= inline_svg "arrow.svg" , id: "download-arrow" %>
    </div>
    <div class="subscribe">
    <p id="subscribe"><%= t("add-links.subscribe")%> </p><%= inline_svg "arrow.svg" , id: "subscribe-arrow" %>
    </div>

</div>

<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Destroy', project_path(@project),method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


<div class="inner-navigation">

        <div class="gauche">
            <div class="mot-gauche">
                <% if @project.previous%><%= link_to @project.previous do  %>
                <%= @project.previous.title%><%end%>
             </div>
            <div class="fleche-gauche"><%= inline_svg "Next-arrow.svg" , id: "left-arrow" %>  <%end%>
            </div>

            </div>

    <div class="centre">
        <%= link_to projects_path do %>
        <div class="symbole"><%= image_tag "new-fill.png" %></div>
        <div class="centre-texte"><%= t("index.projects") %></div>
        <%end%>
    </div>
    
    <div class="droite">
       
        <div class="mot-droite"> <% if @project.next%><%= link_to @project.next  do%>
            <%= @project.next.title %>
        </div>
        <div class="fleche-droite"><%= inline_svg "Next-arrow.svg" %><%end%><%end%></div>
    </div>


</div>


<script>
<% @project.images.each do |i| %>
    $(".<%=i.file.filename.parameterize%>-frame").mouseenter(function(){
    $(".<%=i.file.filename.parameterize %>").removeClass("hidden")
    $(this).addClass("hidden")
    });

    $(".<%=i.file.filename.parameterize%>").mouseleave(function(){
    $(".<%=i.file.filename.parameterize %>-frame").removeClass("hidden")
    $(this).addClass("hidden")
    });
 
<%end%>
</script>