<!DOCTYPE html>
<html>
  <head>
    <title>HeterodoxCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main-container">
  <div class="navigation">
        <div class="logo"><%= inline_svg "heterodox-01.svg" , id: 'heterodox-logo' %></div>
            <div class="nav-items">
          <div class="home"><%= link_to_unless_current t("nav.home"), root_path %></div>
          <div class="about"><%= link_to_unless_current t("nav.about") , static_about_path %></div>
          <div class="projects"><%= link_to_unless_current t("nav.projects"), projects_path %></div>
          <div class="contact"><%= link_to_unless_current t("nav.contact") , static_contact_path %></div>
         
          <div class="versions-button">
            <div><%= link_to_unless_current t("nav.versions"), root_path %> <%= inline_svg "arrow.svg"  , id: "versions-arrow" %></div>
            <div id="versions-odin">ODIN</div>
          </div>
          
          <div class="languages">
            <div class="eng"><%= link_to "eng" , locale: "en" %> <%= inline_svg "arrow.svg"  , id: "lang-arrow" %> </div> 
            <div class="fr"><%= link_to "fr" , locale: "fr" %> </div>
          </div>
          </div>
  
  <%= render 'layouts/alerts' %>

    <%= yield %>
    </div>
  </body>
</html>
