<!DOCTYPE html>
<html>
  <head>
  <title>Heterodox - <%= yield(:title) %> </title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script>
    var myimages=new Array()
    function preloadimages(){
    for (i=0;i<preloadimages.arguments.length;i++){
    myimages[i]=new Image()
    myimages[i].src=preloadimages.arguments[i]
    }
    }
        preloadimages("http/www.heterodox.design/assets/tile-background.png" , "/assets/tile-background.png")
    </script>
  
  
    </head>

  <body>
<div id="spinner"></div>
  <div class="main-container">
  <div class="navigation">
        <div class="logo">
        
        
        <%= link_to root_url do %>
        <%= inline_svg "heterodox-01.svg" , id: 'heterodox-logo' %>
        <% end %>
        
        <div class="subtitle hidden">
         <div class="explain">
          <p class="white-bg">
          <span class="latin">hetero </span> <span class="serif"> <%= t("subtitle.other")%> </span> + <span class="latin">doxa</span> <span class="serif">opinion</span></p>
          </div>
          <p class="white-bg"><%=t("subtitle.lign1")%></p><br>
          <p class="white-bg"><%=t("subtitle.lign2_html")%></p>
         </div>
        
        </div>
            <div class="nav-items">
          <div class="special-cursor home"></div>
          <div class="special-cursor about"><%= link_to_unless_current t("nav.about") , about_path %></div>
          <div class="special-cursor projects"><%= link_to_unless_current t("nav.projects"), projects_path %></div>
          <div class="special-cursor contact"><%= link_to_unless_current "contact" , contact_path %></div>
          <div class="special-cursor languages">
            <%= link_to_unless_current "eng" , locale: "en" %> | <%= link_to_unless_current "fr" , locale: "fr" %> 
          </div>
          <div class="special-cursor versions-button">
          <div><%= link_to_unless_current "versions", cronos_path %> <%= inline_svg "arrow.svg"  , id: "versions-arrow" %></div>
        </div>
          </div>
         
  </div>
  <%= render 'layouts/alerts' %>
    <%= yield %>
    </div>
    <div class="footer"></div>
  </body>
</html>
