<!DOCTYPE html>
<html>
  <head>
    <title>HeterodoxCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <navigation>
  <div class="navigation">
  <ul>
  <li> <%= inline_svg "heterodox-01.svg" , id: 'heterodox-logo' %></li>
  <li>ABOUT</li>
  <li>WORKS</li>
  <li>CONTACT</li>
  <li>VERSIONS</li>
  <li>ENG</li>

  </ul>
  </div>
  
  </navigation>
    <%= yield %>
  </body>
</html>
