<!DOCTYPE html>
<html>
  <head>
    <title>HeterodoxCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Talifone </h1>
  
  <div class ="header">
    <%= inline_svg "heterodox-01.svg" , id: 'heterodox-logo' %>
      <div class="nav">
      <ul>
          <li>about</li>
          <li>works</li>
          <li>contact</li>
          <li>versions</li>
          <%= link_to_unless_current "ENG" , locale: "en" %> |
           <%= link_to_unless_current "FR" , locale: "fr" %>
        </ul>
      </div>
  </div>
  
  <%= render 'layouts/alerts' %>

    <%= yield %>
  </body>
</html>
